In [10]:
import pandas as pd

In [11]:
file1 = pd.read_csv("./Resources/201701-citibike-tripdata.csv")

In [12]:
file1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [18]:
file2 = pd.read_csv("./Resources/201702-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file3 = pd.read_csv("./Resources/201703-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file4 = pd.read_csv("./Resources/201704-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file5 = pd.read_csv("./Resources/201705-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file6 = pd.read_csv("./Resources/201706-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file7 = pd.read_csv("./Resources/201707-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file8 = pd.read_csv("./Resources/201708-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file9 = pd.read_csv("./Resources/201709-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file10 = pd.read_csv("./Resources/201710-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file11 = pd.read_csv("./Resources/201711-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])
file12 = pd.read_csv("./Resources/201712-citibike-tripdata.csv", names=['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude',
                    'Start Station Longitude', 'End Station ID', 'End Station Name',
                    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
                    'Birth Year', 'Gender'])

C:\Users\cburd\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
filelist = [file1, file2, file3, file4, file5, file6, file7, file8, file9, file10, file11, file12]
ultimate_file = pd.concat(filelist)
# ultimate_file.columns = ["Trip Duration", "Start Time", "Stop Time", "Start Station ID", "Start Sation Name", "Start Station Latitude", "Start Station Longitude", "Bike ID", "User Type", "Birth Year", "Gender"]
ultimate_file.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.7828,-73.9714,3165,Central Park West & W 72 St,40.7758,-73.9762,25542,Subscriber,1965,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.7292,-73.9909,498,Broadway & W 32 St,40.7485,-73.9881,21136,Subscriber,1987,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,26819,Customer,NaN,0

In [21]:
ultimate_file.tail()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
889963,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.6796,-73.9785,3418,Plaza St West & Flatbush Ave,40.675,-73.9711,30841,Subscriber,1957,2
889964,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.759,-73.9938,513,W 56 St & 10 Ave,40.7683,-73.9886,30417,Subscriber,1984,1
889965,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.7353,-73.998,411,E 6 St & Avenue D,40.7223,-73.9767,16125,Subscriber,1991,1
889966,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.7627,-73.993,3163,Central Park West & W 68 St,40.7734,-73.9778,33328,Subscriber,1988,2
889967,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.7711,-73.9577,3143,5 Ave & E 78 St,40.7763,-73.9643,31023,Subscriber,1968,2

In [22]:
ultimate_file.shape

(16364668, 15)

In [29]:
cleaned_sample = ultimate_file.sample(frac=0.01, replace=False, random_state=1)

In [30]:
cleaned_sample.shape

(163647, 15)

In [31]:
cleaned_sample.to_csv('concat_sample_.01.csv')